.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.text-red{
  color: red;
}

.text-green{
  color: green;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active-link{
  color: red
}

.app-container{
  min-width: 100%;
  min-height: 100vh;
}
.theme-toggler{
  float: right;
}
.light-mode{
  background-color: #f2f2f2;
}
.dark-mode{
  background-color: #000000;
}

.fixed-height-div{
  height: 500px;
  width: 300px;
  border: 1px solid black;
  padding: 30px;
  box-sizing: border-box;
  margin: 30px auto 0;
  overflow-y: auto;
}